In [21]:
#the code reads a CSV file, creates a PySpark DataFrame, registers it as a temporary table for Spark SQL,
# performs a SQL query on the DataFrame, and displays the result. The specific SQL query filters the data 
#to include only rows where the "SalePrice" is greater than 1000 and orders the result by "ReportingYear" and "ReportingMonth."

from pyspark.sql import SparkSession
from pyspark.sql import Row

# Create a Spark session
spark = SparkSession.builder.appName("InvoiceAnalysis").getOrCreate()

# Define the path to your CSV file
csv_path = "F:\MUKUND\Big Data Hadoop\CDAC\Dataset\carsales.csv"

# Read the CSV file into an RDD
rdd = spark.sparkContext.textFile(csv_path).map(lambda line: line.split(','))

# Define the schema for the DataFrame
header = rdd.first()
rdd = rdd.filter(lambda row: row != header)
rdd = rdd.map(lambda row: Row(
    InvoiceDate=row[0],
    Make=row[1],
    CountryName=row[2],
    IsDealer=row[3],
    SalePrice=float(row[4]),
    CostPrice=float(row[5]),
    TotalDiscount=float(row[6]),
    DeliveryCharge=float(row[7]),
    SpareParts=float(row[8]),
    LaborCost=float(row[9]),
    ClientName=row[10],
    Model=row[11],
    Color=row[12],
    ReportingYear=int(row[13]),
    ReportingMonth=int(row[14]),
    Registration_Date=row[15],
    VehicleType=row[16],
    InvoiceNumber=row[17],
    CountryISOCode=row[18],
    OuterPostode=row[19],
    Region=row[20]
))

# Create a DataFrame from the RDD
df = spark.createDataFrame(rdd)

# Create a temporary table for Spark SQL
df.createOrReplaceTempView("invoices")

# Perform some transformations and actions using Spark SQL
result_df = spark.sql("""
    SELECT
        ReportingYear,
        ReportingMonth,
        Make,
        Model,
        CountryName,
        SalePrice,
        CostPrice,
        TotalDiscount,
        DeliveryCharge,
        SpareParts,
        LaborCost,
        ClientName,
        Color,
        VehicleType,
        InvoiceNumber,
        CountryISOCode,
        OuterPostode,
        Region
    FROM invoices
    WHERE SalePrice > 1000
    ORDER BY ReportingYear, ReportingMonth
""")

# Show the resulting DataFrame
result_df.show()

# Stop the Spark session
spark.stop()

+-------------+--------------+------------+------------+--------------+---------+---------+-------------+--------------+----------+---------+--------------------+--------------------+-----------+--------------------+--------------+------------+--------------------+
|ReportingYear|ReportingMonth|        Make|       Model|   CountryName|SalePrice|CostPrice|TotalDiscount|DeliveryCharge|SpareParts|LaborCost|          ClientName|               Color|VehicleType|       InvoiceNumber|CountryISOCode|OuterPostode|              Region|
+-------------+--------------+------------+------------+--------------+---------+---------+-------------+--------------+----------+---------+--------------------+--------------------+-----------+--------------------+--------------+------------+--------------------+
|         2012|             1|Aston Martin|         DBS|United Kingdom| 120000.0|  75000.0|          0.0|        1500.0|     600.0|    550.0|         Honest John|                Blue|      Coupe|139BEEEF-FF32-4BE...|           GBR|          EC|Greater London Au...|
|         2012|             1|      Jaguar|          XK|           USA|  44000.0|  25000.0|        500.0|         450.0|    1950.0|    486.0|        Rocky Riding|         Dark Purple|      Coupe|B2E02067-8795-4DC...|           USA|          NY|                NULL|
|         2012|             1|     Bentley| Continental|United Kingdom|  39500.0|  25700.0|        750.0|         500.0|    2570.0|   1250.0|          Cut'n'Shut|                Blue|     Saloon|5C1F30A0-F28B-48D...|           GBR|           M|          North West|
|         2012|             2| Rolls Royce|Silver Ghost|United Kingdom|  88000.0|  75000.0|        750.0|        1000.0|     750.0|    550.0|       Bright Orange|               Green|     Saloon|D35D72CD-5FF3-470...|           GBR|           B|       West Midlands|
|         2012|             2|      Jaguar|         XJ6|           USA|  45000.0|  37500.0|        500.0|         450.0|    1950.0|    486.0|        Rocky Riding|British Racing Green|     Saloon|13E5C30E-155B-4EA...|           USA|          NY|                NULL|
|         2012|             2|     Bentley|      Arnage|United Kingdom|  44000.0|  25700.0|        750.0|         500.0|    2570.0|   1250.0|       Bright Orange|                Blue|     Saloon|89E48433-ADBB-474...|           GBR|           B|       West Midlands|
|         2012|             3| Rolls Royce|Silver Ghost|United Kingdom|  89000.0|  88000.0|          0.0|        1000.0|      85.0|    550.0|         Honest John|                Blue|     Saloon|2ABAA300-E2A5-4E3...|           GBR|          EC|Greater London Au...|
|         2012|             3|      Jaguar|        XJ12|   Switzerland|  39500.0|  25000.0|        500.0|           0.0|    1950.0|    486.0|Voitures Diplomat...|               Black|     Saloon|37D95F66-D75E-4D7...|           CHE|        NULL|                NULL|
|         2012|             3|     Bentley|       Azure|United Kingdom|  44000.0|  25700.0|        750.0|         500.0|    2570.0|    987.0|       Bright Orange|                 Red|     Saloon|41C1117D-5050-4E0...|           GBR|           B|       West Midlands|
|         2012|             4| Rolls Royce|    Camargue|United Kingdom|  92000.0|  62000.0|          0.0|        1500.0|    2500.0|    550.0|         Wheels'R'Us|       Canary Yellow|     Saloon|A1C2D846-EC39-46F...|           GBR|          NE|Greater London Au...|
|         2012|             4|      Jaguar|          XK|        France|  44000.0|  37500.0|        500.0|         500.0|    1950.0|    486.0|      Les Arnaqueurs|       Canary Yellow|      Coupe|E0479884-0C75-49E...|           FRA|        NULL|                NULL|
|         2012|             4|     Bentley|     Turbo R|United Kingdom| 110000.0|  25700.0|        750.0|         775.0|    2570.0|   1250.0|         Honest John|                 Red|     Saloon|21F11BF3-7D13-4B2...|           GBR|          EC|Greater London Au...|
|         2012|             5| Rolls Royce|    Camargue|United Kingdom| 102500.0| 125000.0|          0.0|        1000.0|    4000.0|    550.0|          Cut'n'Shut|British Racing Green|     Saloon|1B8F325A-CC41-4BA...|           GBR|           M|          North West|
|         2012|             5|      Jaguar|        XJ12|United Kingdom|  44000.0|  25000.0|        500.0|         500.0|    1950.0|    486.0|       Bright Orange|       Canary Yellow|     Saloon|D672CF3B-B536-430...|           GBR|           B|       West Midlands|
|         2012|             5|     Bentley| Continental|United Kingdom| 110000.0|  62000.0|        750.0|         775.0|    2570.0|    987.0|         Honest John|       Canary Yellow|      Coupe|6D247809-B307-440...|           GBR|          EC|Greater London Au...|
|         2012|             6|Aston Martin|         DBS|United Kingdom| 110000.0|  56000.0|        750.0|         500.0|     900.0|    550.0|       Bright Orange|         Dark Purple|      Coupe|F1B566F0-D137-481...|           GBR|           B|       West Midlands|
|         2012|             6|      Jaguar|          XK|United Kingdom|  39500.0|  37500.0|        500.0|         500.0|    1950.0|    486.0|         Honest John|          Night Blue|      Coupe|96FFBA29-A4EC-434...|           GBR|          EC|Greater London Au...|
|         2012|             6|     Bentley| Continental|United Kingdom| 110000.0|  62000.0|        500.0|         775.0|    2570.0|   1250.0|         Aldo Motors|         Dark Purple|Convertible|D39B783B-B8DA-4CD...|           GBR|          ST|       East Midlands|
|         2012|             7|Aston Martin|         DB7|        France| 125000.0|  23500.0|       2500.0|        1000.0|     900.0|    550.0|      Les Arnaqueurs|                 Red|      Coupe|ADFFAC9E-DFF3-4BA...|           FRA|        NULL|                NULL|
|         2012|             7|      Jaguar|          XK|United Kingdom|  44000.0|  25000.0|        500.0|        1750.0|    1950.0|    486.0|         Wheels'R'Us|               Green|      Coupe|5470F16B-DE08-4D6...|           GBR|          NE|Greater London Au...|
+-------------+--------------+------------+------------+--------------+---------+---------+-------------+--------------+----------+---------+--------------------+--------------------+-----------+--------------------+--------------+------------+--------------------+
only showing top 20 rows